<h1>ログイン</h1>
<p>ポータルで利用している学籍番号とパスワードでログインしてください。</p>
<%= form_tag "/sessions" do %>
 <table>
    <tbody>
      <tr>
        <td>学籍番号 (ログインID): </td>
        <td>
          <%= text_field_tag :student_id %>
        </td>
      </tr>
      <tr>
        <td>パスワード: </td>
        <td>
          <%= password_field_tag :login_password %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= submit_tag "ログイン", disable_with: "ログインちう…", class: "btn btn-primary" %>
<% end %>
このサイトのご利用は初めてですか？まずは <%= link_to "新規登録", :new_account %>してください